# Squid Config File
acl intermediate_fetching transaction_initiator certificate-fetching
http_access allow intermediate_fetching

# ポート設定
# http_port {{ squid_proxy_port }}
http_port {{ squid_proxy_port }} \
  tcpkeepalive=60,30,3 \
  ssl-bump \
  generate-host-certificates=on \
  dynamic_cert_mem_cache_size=20MB \
  tls-cert=/etc/squid/squid.pem \
  tls-key=/etc/squid/squid.key \
  tls-dh=/etc/squid/dhparam.pem \
  cipher=HIGH:MEDIUM:!LOW:!RC4:!SEED:!IDEA:!3DES:!MD5:!EXP:!PSK:!DSS \
  options=NO_TLSv1,NO_SSLv3

# https_port 3129 ssl-bump cert=/etc/squid/squid.pem key=/etc/squid/squid.key

# ACLの設定
acl localnet src 10.0.0.0/16      # クラスA（10.0.0.0/16）
acl localnet src 172.16.0.0/12    # クラスB（172.16.0.0/12）
acl localnet src 192.168.0.0/16   # クラスC（192.168.0.0/16）

# HTTP, HTTPS用のACL
acl SSL_ports port 443
acl Safe_ports port 80        # HTTP
acl Safe_ports port 443       # HTTPS
acl CONNECT method CONNECT

# 特定のFQDNへのアクセスを許可するACLを外部ファイルに保存
acl allowed_sites dstdomain "/etc/squid/allow_sites.txt"

# 許可されたFQDNのみアクセス許可
http_access allow allowed_sites localnet
http_access deny all

# クラスA, B, CのIPアドレス範囲以外からのアクセスをブロック
http_access allow localnet
http_access deny all

# HTTP, HTTPS以外の通信をブロック
http_access deny !Safe_ports

# CONNECTメソッドをHTTPSのみに限定
http_access deny CONNECT !SSL_ports

# ローカルホストからのアクセス許可
http_access allow localhost
http_access deny all

# SSL Bump 設定
sslcrtd_program /usr/lib/squid/security_file_certgen -s {{squid_cert_db_dir}} -M 20MB
sslcrtd_children 8 startup=1 idle=1
sslproxy_cert_error allow all
ssl_bump stare all

# SSL関連の設定
tls_outgoing_options flags=DONT_VERIFY_PEER
tls_outgoing_options min-version=1.2

# キャッシュの設定
cache_mem {{squid_cache_mem_size | default('256 MB')}}
maximum_object_size_in_memory 512 KB
cache_dir ufs /var/spool/squid/cache \
  {{ squid_cache_disk_size_mb | default('10000') }} \
  {{ squid_cache_disk_l1_count | default('16') }} \
  {{ squid_cache_disk_l2_count | default('256') }}
maximum_object_size 4 MB
minimum_object_size 0 KB

# DNSサーバーの設定
# dns_nameservers 8.8.8.8 8.8.4.4

# ログ設定 (通信の送信元を特定できるように詳細なログを保存)
access_log /var/log/squid/access.log squid
cache_log /var/log/squid/cache.log
cache_store_log /var/log/squid/store.log

# 詳細なログ形式の設定
logformat squid_extended %ts.%03tu %6tr %>a %Ss/%03>Hs %<st %rm %ru %Sh/%<A %mt
access_log /var/log/squid/access.log squid_extended

coredump_dir /var/spool/squid
# visible_hostname myproxy.local

# HTTPヘッダーの隠蔽
via off
forwarded_for on
request_header_access From deny all
request_header_access Referer deny all
request_header_access X-Forwarded-For deny all
request_header_access User-Agent deny all
request_header_access Cookie deny all

# 不要なプロトコルの無効化
icp_access deny all
htcp_access deny all
